*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}

.scrollline{
    width: 27.6465%;
    background: #f58;
    height: 3px;
    z-index: 1000;
    position: fixed;
    right: 0;
    top: 0;
    /* -webkit-transition: width .25s cubic-bezier(0,0,.33,1);
    -o-transition: width .25s cubic-bezier(0,0,.33,1); */
    transition: width .25s cubic-bezier(0,0,.33,1);
}

img{
    border-radius: 20px;
    margin-left: 100px;
    position: relative;
}

ul{
    background-color: aqua;
}

ul li{
    display: inline-block; 
    background-color: aqua;
    margin: 20px;
    padding: 10px;
}

ul li:hover{
    cursor: pointer;
    background-color:chartreuse;
}

 ul > li:hover > #rotate1{
    transition: all .5s;
    transform: rotate(180deg);
}

 ul li #rotate2{
display: none;
}
/* 
ul > li:hover > #rotate1{
    display: none;
} */
/* 
ul > li:hover > #rotate2{
    display: inline;
} */


